<html lang="en">

<head>

    <!-- Character set configuration -->
    <meta charset="UTF-8">

    <!-- Viewport configuration, scaling options -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- MS tile icons -->
    <meta name="msapplication-TileColor" content="#00C264">
    <link rel="shortcut icon" href="/images/logoBlueRound.png" type="image/png">

    <link rel="icon" type="image/png" href="/images/logoBlueRound.png" sizes="96x96">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="styles/css/stylesForWorkers.css">

    <!-- Site title -->
    <title>DeliverieCloth</title>

</head>

<body class="button-container">
<a href="/deliveries">Вернуться в меню поставок</a>

<div>
    <form method="post" action="addDeliverieCloth">
        <input class="edit bk" type="number" name="LotNumber" placeholder="Номер лота">
        <input class="edit bk" type="number" step="0.01" name="RollLength" placeholder="Длина рулона">
        <input class="edit bk" type="text" name="Data" placeholder="Дата">
        <input class="edit bk" type="number" name="Cloth_id" placeholder="ID ткани">
        <input class="edit bk" type="number" name="Dealer_id" placeholder="ID поставщика">
        <input class="edit bk" type="number" name="StorageUnit_id" placeholder="ID склада">
        <button type="submit">Добавить поставку ткани</button>
    </form>
</div>

<div>
    <form method="post" action="deleteDeliverieCloth">
        <input class="edit bk" type="number" name="id" placeholder="ID поставку ткани">
        <button type="submit">Удалить поставку ткани</button>
    </form>
</div>

<div><h1><b>Список поставок тканей</b></h1></div>

    <form method="post" action="uploadFile">
        <button type="submit">Скачать PDF</button>
    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>Номер лота</th>
            <th>Длина рулона м.</th>
            <th>Цена</th>
            <th>Дата</th>
            <th>Ткань</th>
            <th>Поставщик</th>
            <th>Склад</th>
        </tr>
        {{#DeliverieCloths}}
        <tr>
            <td>{{id}}</td>
            <td>{{LotNumber}}</td>
            <td>{{RollLength}}</td>
            <td>{{Price}}</td>
            <td>{{Data}}</td>
            <td>{{Cloth_id.Name}}</td>
            <td>{{Dealer_id.Name}}</td>
            <td>{{StorageUnit_id.Town}}</td>
        </tr>
        {{/DeliverieCloths}}
    </table>

</body>

</html>