<html lang="en">

<head>

    <!-- Character set configuration -->
    <meta charset="UTF-8">

    <!-- Viewport configuration, scaling options -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- MS tile icons -->
    <meta name="msapplication-TileColor" content="#00C264">
    <link rel="shortcut icon" href="/images/logoBlueRound.png" type="image/png">

    <link rel="icon" type="image/png" href="/images/logoBlueRound.png" sizes="96x96">

    <!-- Stylesheets -->
        <link rel="stylesheet" href="styles/css/stylesForWorkers.css">
    <link rel="stylesheet" href="styles/css/nav.css">

    <!-- Site title -->
    <title>DeliverieHardware</title>

</head>

<body class="button-container">
<div>
<header>
    <nav role="navigation">
        <ul>
            <li>
                <a href="/registrations">
                    <div>
                        Регистрация пользователей
                    </div>
                </a><div>
                <ul>
                    <li><a href="/client">Клиенты</a></li>
                    <li><a href="/worker">Сотрудники</a></li>
                    <li><a href="/dealer">Поставщики</a></li>
                </ul>
            </div>
            </li>
            <li>
                <a href="/orders">
                    <div>
                        Работа с заказамив
                    </div>
                </a><div>
                <ul>
                    <li><a href="/sail">Паруса</a></li>
                    <li><a href="/hardwareOnSail">Установка фурнитуры</a></li>
                </ul>
            </div>
            </li>
            <li>
                <a href="/deliveries">
                    <div>
                        Работа с поставками
                    </div>
                </a><div>
                <ul>
                    <li><a href="/cloth">Ткани</a></li>
                    <li><a href="/deliverieCloth">Поставками ткани</a></li>
                    <li><a href="/hardware">Фурнитура</a></li>
                    <li><a href="/deliverieHardware">Поставками фурнитуры</a></li>
                    <li><a href="/storageUnit">Склады</a></li>
                </ul>
            </div>
            </li>
            <li>
                <a href="/stat">
                    <div>
                        Формирование статистики
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</header>
</div>
<div class="underNav button-container">
<a href="/deliveries">Вернуться в меню поставок</a>

    <div>
        <form method="post" action="addDeliverieHardware">
            <input class="edit bk" type="number" name="Number" placeholder="Кол-во шт">
            <input class="edit bk" type="text" name="Data" placeholder="Дата">
            <input class="edit bk" type="number" name="StorageUnit_id" placeholder="ID склада">
            <input class="edit bk" type="number" name="Dealer_id" placeholder="ID поставщика">
            <input class="edit bk" type="number" name="Hardware_id" placeholder="ID фурнитуры">
            <button type="submit">Добавить поставку фунитуры</button>
        </form>
    </div>

    <div>
        <form method="post" action="deleteDeliverieHardware">
            <input class="edit bk" type="number" name="id" placeholder="ID поставку фурнитуры">
            <button type="submit">Удалить поставку фурнитуры</button>
        </form>
    </div>

    <div><h1><b>Список поставок фурнитуры</b></h1></div>
    <table>
        <tr>
            <th>ID</th>
            <th>Цена</th>
            <th>Кол-во</th>
            <th>Дата</th>
            <th>Склада</th>
            <th>Поставщика</th>
            <th>Фурнитура</th>
        </tr>
        {{#DeliverieHarwares}}
        <tr>
            <td>{{id}}</td>
            <td>{{Price}}</td>
            <td>{{Number}}</td>
            <td>{{Data}}</td>
            <td>{{StorageUnit_id.Town}}</td>
            <td>{{Dealer_id.Name}}</td>
            <td>{{Hardware_id.Name}}</td>
        </tr>
        {{/DeliverieHarwares}}
    </table>
</div>
</body>

</html>