<html lang="en">

<head>

    <!-- Character set configuration -->
    <meta charset="UTF-8">

    <!-- Viewport configuration, scaling options -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- MS tile icons -->
    <meta name="msapplication-TileColor" content="#00C264">
    <link rel="shortcut icon" href="/images/logoBlueRound.png" type="image/png">

    <link rel="icon" type="image/png" href="/images/logoBlueRound.png" sizes="96x96">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="styles/css/stylesForWorkers.css">

    <!-- Site title -->
    <title>Hardware</title>

</head>
<body class="button-container">
<a href="/deliveries">Вернуться в меню поставок</a>


<div>
    <form method="post" action="addHardware">
        <input class="edit bk" type="text" name="Name" placeholder="Название фурнитуры">
        <input class="edit bk" type="number" name="Type_id" placeholder="ID тип фурнитуры">
        <input class="edit bk" type="number" step="0.01" name="Price" placeholder="Цена за 1 шт">
        <button type="submit">Добавить фурнитуру</button>
    </form>
</div>

<div>
    <form method="post" action="deleteHardware">
        <input class="edit bk" type="number" name="id" placeholder="ID фурнитуру">
        <button type="submit">Удалить фурнитуру</button>
    </form>
</div>

<div>
    <form method="post" action="addHardwareType">
        <input class="edit bk" type="text" name="Type" placeholder="Название типа">
        <button type="submit">Добавить тип фурнитуры</button>
    </form>
</div>

<div><h1><b>Список типов фурнитуры</b></h1></div>
<table>
    <tr>
        <th>ID</th>
        <th>Название</th>
    </tr>
    {{#HardwareTypes}}
    <tr>
        <td>{{id}}</td>
        <td>{{Type}}</td>
    </tr>
    {{/HardwareTypes}}
</table>

<div><b>Список фурнитуры</b></div>
    <table>
        <tr>
            <th>ID</th>
            <th>Названеи</th>
            <th>Тип</th>
            <th>Цена</th>
        </tr>
        {{#Hardwares}}
        <tr>
            <td>{{id}}</td>
            <td>{{Name}}</td>
            <td>{{Type_id.Type}}</td>
            <td>{{Price}}</td>
        </tr>
        {{/Hardwares}}
    </table>

</body>

</html>