<html lang="en">
<head>

    <!-- Character set configuration -->
    <meta charset="UTF-8">

    <!-- Viewport configuration, scaling options -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Hide the browser UI -->
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- MS tile icons -->
    <meta name="msapplication-TileColor" content="#00C264">
    <link rel="shortcut icon" href="/images/logoBlueRound.png" type="image/png">

    <link rel="icon" type="image/png" href="/images/logoBlueRound.png" sizes="96x96">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="libs/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/css/wata.min.css">
    <link rel="stylesheet" href="styles/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="styles/css/all.css" rel="stylesheet">
    <!--    <link href="styles/css/all.min.css" rel="stylesheet">-->

    <!-- Site title -->
    <title>Pharaon Sailmakers</title>

</head>
<body>
<div id="wrapper">

    <!-- The preloader we see before the whole site is loaded -->
    <div id="preloader" class="valign-wrapper">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only actually-black">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- A status spinner to indicate that some process is going on -->
    <div id="status">
        <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-blue-only actually-black">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation bar -->
    <div class="navbar-fixed" id="nav">
        <nav>
            <div class="nav-wrapper">

                <!-- Site name -->
                <a href="/main" class="brand-logo"><img src="images/LogoSailmakers.png" height="55" style="padding-top: 5px;"/></a>

                <!-- Mobile menu button -->
                <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons md-light indigo600">reorder</i></a>

                <!-- Static menu -->
                <ul class="right hide-on-med-and-down table-of-contents">
                    <li><a href="#triangles">Home</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#about">About us</a></li>
                    <li><a href="#our_clients">Our clients</a></li>
                    <li><a href="#clients_questions">Advantages</a></li>
                    <li><a href="#contact">Contact us</a></li>
                </ul>

                <!-- Mobile menu, make sure it is equal to the statis menu -->
                <ul class="side-nav" id="mobile-menu">
                    <li><a href="#triangles">Home</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#about">About us</a></li>
                    <li><a href="#our_clients">Our clients</a></li>
                    <li><a href="#clients_questions">Advantages</a></li>
                    <li><a href="#contact">Contact us</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Triangles section -->
    <div id="triangles" class="scrollspy">
        <div id="output">
            <div class="h1-wrapper valign-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <!-- Your company's slogan, feel free to add more tags here -->
                            <h1>We create sails for you</h1>
                        </div>
                    </div>
                </div>
                <!--Action button-->
                <a class="btn-floating btn-large waves-effect waves-dark  blue accent-2" id="explore">
                    <!--                    <i class="material-icons md-light indigo600">keyboard_arrow_down</i>-->
                    <!--                    <i class="far fa-user indigo600"></i>-->
                    <i class="fas fa-dollar-sign"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Services section -->
    <div class="section scrollspy" id="services">
        <div class="container">
            <div class="row">
                <h2>Our Services</h2>
                <div class="col s12 m10 offset-m1 l8 offset-l2">
                    <p class="flow-text center-align">
                        We're a small Ukrainian sailmaking company from Mykolaiv. We're focused on making any sail for anyone who comes to us.
                        We're deeper understanding clients needs, that allows implementing truly performance solutions in sail world. We will sew any sail of whatever size it is.
                        Feel free to check out our services and our advantages.
                    </p>
                </div>
            </div>

            <!-- Row with service icons -->
            <div class="row services" >
                <div class="col s12 l4">
<!--                    <img src="images/mainsail.png" height="350"/>-->
                    <img src="images/headsail.png" height="350"/>
                    <div class="divider"></div>
                    <h4>MainSail</h4>
                    <p>
                        Our mainsails are made to last. Mainsails keep things simple with one or two full-length top battens
                        and standard length lower battens. This straightforward approach offers a basic,
                        low maintenance and easy to use sail. Whatever your type of boat and style of racing, we offer a mainsail customized to your requirements.
                    </p>
                    <a class="btn waves-effect waves-dark white black-text" href="#contact">Learn more</a>
                </div>
                <div class="col s12 l4">
                    <img src="images/headsail.png" height="350"/>
                    <div class="divider"></div>
                    <h4>Genoas and Jibs</h4>
<!--                    <h5>Head sail</h5>-->
                    <p>
                        Whether your racing headsail is for heavy air only, or if you sail with all non-overlapping headsails,
                        headsail come in a wide variety of sizes, shapes and styles to optimize your sail inventory.
                        All of our headsails are designed for maximum strength, low stretch and maximum performance.
                    </p>
                    <a class="btn waves-effect waves-dark white black-text" href="#contact">Discover</a>
                </div>
                <div class="col s12 l4">
                    <img src="images/downwind1.png" height="350"/>
                    <div class="divider"></div>
<!--                    <h4>Symmetric and Asymmetric spinnaker</h4>-->
                    <h4>Downwind</h4>
                    <p>
                        Whether you’re racing to win or cruising unexplored waters, you need a downwind sail that performs.
                        Buying a new spinnaker is an investment, and we don’t take that responsibility lightly.
                        That means extra boat speed and a better ride.
                        If you’re looking to buy a new spinnaker, we’re here to help. Tell us about your downwind sailing goals.
                    </p>
                    <a class="btn waves-effect waves-dark white black-text" href="#contact">Try it</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="divider"></div>
    </div>

    <!-- About section -->
    <div class="section scrollspy" id="about">
        <div class="container">
            <div class="row">
                <h2>About us</h2>
                <div class="col s12 m10 offset-m1 l8 offset-l2">
                    <p class="flow-text center-align">
                        <img src="images/logoBlueRound.png" height="450"/>
                    </p>
                </div>
            </div>
        </div>

    <div class="container">
        <div class="divider"></div>
    </div>

    <!-- Our Clients section -->
    <div class="section scrollspy" id="our_clients">
        <div class="container">
            <div class="row">
                <h2>Our Clients</h2>
                <div class="col s12 m10 offset-m1 l8 offset-l2">
                    <p class="flow-text center-align">
                        Here photos some of our clients
                    </p>
                </div>
            </div>
        </div>

        <div class="wide-container">
            <div class="row masonry">
                <div class="col s12 m6 l2">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img src="images/clients/client1.png" height="350">
                        </div>
                </div>
                <div class="col s12 m6 l2">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="images/clients/client2.png" height="350">
                        </div>
                </div>
                <div class="col s12 m6 l4">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="images/clients/client3.png" height="350">
                        </div>
                </div>
                <div class="col s12 m6 l2">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="images/clients/client4.png" height="350">
                        </div>
                </div>
                <div class="col s12 m6 l2">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="images/clients/client5.png" height="350">
                        </div>
                </div>
                <div class="col s12 m6 l2">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="images/clients/client6.png" height="350">
                        </div>
                </div>
                <div class="col s12 m6 l2">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="images/clients/client7.png" height="350">
                        </div>
                </div>
                <div class="col s12 m6 l2">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="images/clients/client8.png" height="350">
                        </div>
                </div>
                <div class="col s12 m6 l2">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="images/clients/client9.png" height="350">
                    </div>
                </div>
                <div class="col s12 m6 l2">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="images/clients/client10.png" height="350">
                    </div>
                </div>
                <div class="col s12 m6 l2">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="images/clients/client11.png" height="350">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="divider"></div>
    </div>


    <!-- Clients Questions section -->
    <div class="section scrollspy" id="clients_questions">
        <div class="container">
            <div class="row">
                <h2>Advantages</h2>
            </div>

            <div class="row services">
                <div class="col s12 l6">
                    <div class="divider"></div>
<!--                    <h6>System meets customer expectations</h6>-->
                    <p align="left">bla bla bla</p>
                </div>
                <div class="col s12 l6">
                    <div class="divider"></div>
<!--                    <h6>Cooperate with client's team</h6>-->
                    <p align="left">bla bla bla</p>
                </div>
            </div>
            <div class="row services">
                <div class="col s12 l6">
                    <div class="divider"></div>
<!--                    <h6>Project support</h6>-->
                    <p align="left">bla bla bla</p>
                </div>
                <div class="col s12 l6">
                    <div class="divider"></div>
<!--                    <h6>Source code and project owners</h6>-->
                    <p align="left">bla bla bla</p>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="divider"></div>
    </div>
<!--    Contact us-->
    <div class="container contact-details scrollspy" id="contact">
            <div class="row">
                <h2>Contact us</h2>

<!--                <div class="wide-container">-->
<!--                    <div class="row">-->
<!--                        <div class="col s12">-->
<!--                            &lt;!&ndash; Google map container &ndash;&gt;-->
<!--                            <div id="map-canvas" class="map"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="col s12 m10 offset-m1 l8 offset-l2">
                    <p class="flow-text center-align">
                        Let us know if you want to work with us or just drop a line to tell about sailing. We're
                        always glad to receive your messages. The water awaits.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 l4">
                    <h5>Headquarters</h5>
                    <div class="divider"></div>
                    <address>
<!--                    street<br>-->
                        54000 Mykolaiv<br>
                        Ukraine<br>
                    </address>
                </div>
                <div class="col s12 m6 l4">
                    <h5>Reach us</h5>
                    <div class="divider"></div>
                    <p>
                        <a href="mailto:faraonsails@gmail.com">faraonsails@gmail.com</a>
                    </p>
                </div>
                <div class="col s12 m6 l4 modern-connect">
                <h5>Say hello</h5>
                <div class="divider"></div>
                <p>
                    <!-- Add your Skype link here -->
<!--                    skype: <a href="skype:pharaon?chat">pharaon</a><br>-->
                    +380-67-xx-xx-xx<br>
                </p>
                </div>
            </div>
        </div>
    </div>

<!-- Footer section -->
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2016-2020 Pharaon Sailmakers
            </div>
        </div>
    </footer>

</div>

<!-- Ajax box container, waiting for its turn -->
<div id="ajax-box" class="translate"></div>

<!-- Scripts -->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhvKqCof_YrNveL_wsSsYIBVQ7GhtE9Xs"></script>-->
<script src="scripts/config.js"></script>
<script src="scripts/build.js"></script>
</body>
</html>