<html lang="en">

<head>

    <!-- Character set configuration -->
    <meta charset="UTF-8">

    <!-- Viewport configuration, scaling options -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- MS tile icons -->
    <meta name="msapplication-TileColor" content="#00C264">
    <link rel="shortcut icon" href="/images/logoBlueRound.png" type="image/png">

    <link rel="icon" type="image/png" href="/images/logoBlueRound.png" sizes="96x96">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="styles/css/stylesForWorkers.css">

    <!-- Site title -->
    <title>MenuDeliveries</title>

</head>

<body class="button-container">


<div>
    <a href="/menuMain">Вернуться в главное меню</a>

    <div><h1><b>Меню поставок</b></h1></div>
    <a href="/cloth">Работа с тканями</a>
    <a href="/deliverieCloth">Работа с поставками ткани</a>
    <a href="/hardware">Работа с фурнитурой</a>
    <a href="/deliverieHardware">Работа с поставками фурнитуры</a>
    <a href="/storageUnit">Работа со складом</a>

</div>

</body>

</html>