<html lang="en">

<head>

    <!-- Character set configuration -->
    <meta charset="UTF-8">

    <!-- Viewport configuration, scaling options -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- MS tile icons -->
    <meta name="msapplication-TileColor" content="#00C264">
    <link rel="shortcut icon" href="/images/logoBlueRound.png" type="image/png">

    <link rel="icon" type="image/png" href="/images/logoBlueRound.png" sizes="96x96">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="styles/css/stylesForWorkers.css">

    <!-- Site title -->
    <title>MenuMain</title>

</head>
<body class="button-container">

<div>
    <div><h1><b>Главное меню</b></h1></div>

    <a href="/registrations">Регистрация пользователей</a>
    <a href="/orders">Работа с заказамив</a>
    <a href="/deliveries">Работа с поставками</a>
    <a href="/stat">Формирование статистики</a>

</div>

</body>

</html>