<html>

<body>

<div>
    <div><b>Главное меню</b></div>

    <form method="get" action="registrations">
        <input type="submit" value="Регистрация пользователей">
    </form>

    <form method="get" action="orders">
        <input type="submit" value="Работа с заказами">
    </form>

    <form method="get" action="deliveries">
        <input type="submit" value="Работа с поставками">
    </form>

    <form method="get" action="stat">
        <input type="submit" value="Формирование статистики">
    </form>


</div>

</body>

</html>