<html>

<body>

<div>
    <form method="get" action="menuMain">
        <input type="submit" value="Вернуться в главное меню">
    </form>

    <div><b>Меню заказов</b></div>

    <form method="get" action="sail">
    <input type="submit" value="Работа с парусами">
    </form>

    <form method="get" action="hardwareOnSail">
        <input type="submit" value="Установка фурнитруы">
    </form>

</div>

</body>

</html>