<html>

<body>

<div>
    <form method="get" action="menuMain">
        <input type="submit" value="Вернуться в главное меню">
    </form>

    <div><b>Меню регистрации</b></div>

    <form method="get" action="client">
        <input type="submit" value="Работа с клиентами">
    </form>

    <form method="get" action="worker">
        <input type="submit" value="Работа с сотрудниками">
    </form>

    <form method="get" action="dealer">
    <input type="submit" value="Работа с поставщиками">
    </form>

</div>

</body>

</html>