<html>
<head>

    <!-- Character set configuration -->
    <meta charset="UTF-8">

    <!-- Viewport configuration, scaling options -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- MS tile icons -->
    <meta name="msapplication-TileColor" content="#00C264">
    <link rel="shortcut icon" href="/images/logoBlueRound.png" type="image/png">

    <link rel="icon" type="image/png" href="/images/logoBlueRound.png" sizes="96x96">

    <!-- Stylesheets -->
        <link rel="stylesheet" href="styles/css/stylesForWorkers.css">
    <link rel="stylesheet" href="styles/css/nav.css">

    <!-- Site title -->
    <title>Cloth</title>

</head>

<body>
<div>
    <header>
        <nav role="navigation">
            <ul>
                <li>
                    <a href="/registrations">
                        <div>
                            Регистрация пользователей
                        </div>
                    </a><div>
                    <ul>
                        <li><a href="/client">Клиенты</a></li>
                        <li><a href="/worker">Сотрудники</a></li>
                        <li><a href="/dealer">Поставщики</a></li>
                    </ul>
                </div>
                </li>
                <li>
                    <a href="/orders">
                        <div>
                            Работа с заказамив
                        </div>
                    </a><div>
                    <ul>
                        <li><a href="/sail">Паруса</a></li>
                        <li><a href="/hardwareOnSail">Установка фурнитуры</a></li>
                    </ul>
                </div>
                </li>
                <li>
                    <a href="/deliveries">
                        <div>
                            Работа с поставками
                        </div>
                    </a><div>
                    <ul>
                        <li><a href="/cloth">Ткани</a></li>
                        <li><a href="/deliverieCloth">Поставками ткани</a></li>
                        <li><a href="/hardware">Фурнитура</a></li>
                        <li><a href="/deliverieHardware">Поставками фурнитуры</a></li>
                        <li><a href="/storageUnit">Склады</a></li>
                    </ul>
                </div>
                </li>
                <li>
                    <a href="/stat">
                        <div>
                            Формирование статистики
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</div>

<div class="underNav button-container">
    <a href="/orders">Вернуться в меню заказов</a>
    
    <form method="post" action="addSail">
        <input class="edit bk" type="number" name="SailType_id" placeholder="ID тип паруса">
        <input class="edit bk" type="number" name="Cut_id" placeholder="Расскрой">
        <input class="edit bk" type="number" step="0.01" name="LengthLeech" placeholder="Длина задней шкаторины">
        <input class="edit bk" type="number" step="0.01" name="LengthLuff" placeholder="Длина передней шкаторины">
        <input class="edit bk" type="number" step="0.01" name="LengthFoot" placeholder="Длина нижней шкаторины">
        <input class="edit bk" type="number" step="0.01" name="SickleLeech" placeholder="Серп задней шкаторины">
        <input class="edit bk" type="number" step="0.01" name="SickleLuff" placeholder="Серп передней шкаторины">
        <input class="edit bk" type="number" step="0.01" name="SickleFoot" placeholder="Серп нижней шкаторины">
        <input class="edit bk" type="number" step="0.01" name="Seam" placeholder="Закладка">
        <input class="edit bk" type="number" step="0.01" name="ElapsedLength" placeholder="Погонных метров ткани потрачено">
        <input class="edit bk" type="number" name="Client_id" placeholder="ID клиента">
        <input class="edit bk" type="number" name="Worker_id" placeholder="ID работника">
        <input class="edit bk" type="number" name="DeliverieCloth_id" placeholder="ID поставки ткани">
        <button type="submit">Добавить парус</button>
    </form>
</div>

<div>
    <form method="post" action="deleteSail">
        <input class="edit bk" type="number" name="id" placeholder="ID паруса">
        <button type="submit">Удалить парус</button>
    </form>
</div>


<div><h1><b>Список типов парусов</b></h1></div>
<table>
    <tr>
        <th>ID</th>
        <th>Название</th>
    </tr>
    {{#SailTypes}}
    <tr>
        <td>{{id}}</td>
        <td>{{Type}}</td>
    </tr>
    {{/SailTypes}}
</table>
<div><h1><b>Список покроев</b></h1></div>
<table>
    <tr>
        <th>ID</th>
        <th>Название</th>
    </tr>
    {{#SailCuts}}
    <tr>
        <td>{{id}}</td>
        <td>{{Cut}}</td>
    </tr>
    {{/SailCuts}}
</table>
<div><h1><b>Список парусов</b></h1></div>

    <table>
        <tr>
            <th>ID</th>
            <th>Тип паруса</th>
            <th>Раскрой</th>
            <th>Длина задней</th>
            <th>Длина передней</th>
            <th>Длина нижней</th>
            <th>Серп задней</th>
            <th>Серп передней</th>
            <th>Серп нижней</th>
            <th>Закладка</th>
            <th>Метров потрачено</th>
            <th>Цена</th>
            <th>Имя Клиента</th>
            <th>Фамилия Клиента</th>
            <th>Работник</th>
            <th>Поставка ткани</th>
        </tr>
        {{#Sails}}
        <tr>
            <td>{{id}}</td>
            <td>{{SailType_id.Type}}</td>
            <td>{{Cut_id.Cut}}</td>
            <td>{{LengthLeech}}</td>
            <td>{{LengthLuff}}</td>
            <td>{{LengthFoot}}</td>
            <td>{{SickleLeech}}</td>
            <td>{{SickleLuff}}</td>
            <td>{{SickleFoot}}</td>
            <td>{{Seam}}</td>
            <td>{{ElapsedLength}}</td>
            <td>{{Price}}</td>
            <td>{{Client_id.FirstName}}</td>
            <td>{{Client_id.SurName}}</td>
            <td>{{Worker_id.Name}}</td>
            <td>{{DeliverieCloth_id.id}}</td>
        </tr>
        {{/Sails}}
    </table>

</body>

</html>