<html lang="en">

<head>

    <!-- Character set configuration -->
    <meta charset="UTF-8">

    <!-- Viewport configuration, scaling options -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- MS tile icons -->
    <meta name="msapplication-TileColor" content="#00C264">
    <link rel="shortcut icon" href="/images/logoBlueRound.png" type="image/png">

    <link rel="icon" type="image/png" href="/images/logoBlueRound.png" sizes="96x96">

    <!-- Stylesheets -->
        <link rel="stylesheet" href="styles/css/stylesForWorkers.css">
    <link rel="stylesheet" href="styles/css/nav.css">

    <!-- Site title -->
    <title>Stat</title>

</head>

<body>
<div>
    <header>
        <nav role="navigation">
            <ul>
                <li>
                    <a href="/registrations">
                        <div>
                            Регистрация пользователей
                        </div>
                    </a><div>
                    <ul>
                        <li><a href="/client">Клиенты</a></li>
                        <li><a href="/worker">Сотрудники</a></li>
                        <li><a href="/dealer">Поставщики</a></li>
                    </ul>
                </div>
                </li>
                <li>
                    <a href="/orders">
                        <div>
                            Работа с заказамив
                        </div>
                    </a><div>
                    <ul>
                        <li><a href="/sail">Паруса</a></li>
                        <li><a href="/hardwareOnSail">Установка фурнитуры</a></li>
                    </ul>
                </div>
                </li>
                <li>
                    <a href="/deliveries">
                        <div>
                            Работа с поставками
                        </div>
                    </a><div>
                    <ul>
                        <li><a href="/cloth">Ткани</a></li>
                        <li><a href="/deliverieCloth">Поставками ткани</a></li>
                        <li><a href="/hardware">Фурнитура</a></li>
                        <li><a href="/deliverieHardware">Поставками фурнитуры</a></li>
                        <li><a href="/storageUnit">Склады</a></li>
                    </ul>
                </div>
                </li>
                <li>
                    <a href="/stat">
                        <div>
                            Формирование статистики
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</div>

<div class="underNav button-container">

    <a href="/menuMain">Вернуться в главное меню</a>

    <div><h1><b>Статистика</b></h1></div>
    <table>
        <tr>
            <th>Заработали за все время</th>
            <th>Потратили на фурнитуру</th>
            <th>Потраили на ткани</th>
            <th>Использовали ткани</th>
        </tr>
        {{#Stat}}
        <tr>
            <td>{{allCostSail}}</td>
            <td>{{allBuyHardware}}</td>
            <td>{{allBuyCloth}}</td>
            <td>{{howClothUsed}}</td>
        </tr>
        {{/Stat}}
    </table>

</div>
</body>

</html>