<html lang="en">

<head>

    <!-- Character set configuration -->
    <meta charset="UTF-8">

    <!-- Viewport configuration, scaling options -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- MS tile icons -->
    <meta name="msapplication-TileColor" content="#00C264">
    <link rel="shortcut icon" href="/images/logoBlueRound.png" type="image/png">

    <link rel="icon" type="image/png" href="/images/logoBlueRound.png" sizes="96x96">

    <!-- Stylesheets -->
        <link rel="stylesheet" href="styles/css/stylesForWorkers.css">
    <link rel="stylesheet" href="styles/css/nav.css">

    <!-- Site title -->
    <title>Worker</title>

</head>

<body class="button-container">
<div>
<header>
    <nav role="navigation">
        <ul>
            <li>
                <a href="/registrations">
                    <div>
                        Регистрация пользователей
                    </div>
                </a><div>
                <ul>
                    <li><a href="/client">Клиенты</a></li>
                    <li><a href="/worker">Сотрудники</a></li>
                    <li><a href="/dealer">Поставщики</a></li>
                </ul>
            </div>
            </li>
            <li>
                <a href="/orders">
                    <div>
                        Работа с заказамив
                    </div>
                </a><div>
                <ul>
                    <li><a href="/sail">Паруса</a></li>
                    <li><a href="/hardwareOnSail">Установка фурнитуры</a></li>
                </ul>
            </div>
            </li>
            <li>
                <a href="/deliveries">
                    <div>
                        Работа с поставками
                    </div>
                </a><div>
                <ul>
                    <li><a href="/cloth">Ткани</a></li>
                    <li><a href="/deliverieCloth">Поставками ткани</a></li>
                    <li><a href="/hardware">Фурнитура</a></li>
                    <li><a href="/deliverieHardware">Поставками фурнитуры</a></li>
                    <li><a href="/storageUnit">Склады</a></li>
                </ul>
            </div>
            </li>
            <li>
                <a href="/stat">
                    <div>
                        Формирование статистики
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</header>
</div>
<div class="underNav">
<a href="/registrations">Вернуться в меню регистрации</a>

    <div>
        <form method="post" action="addWorker">
            <input class="edit bk" type="text" name="Name" placeholder="Имя работника">
            <input class="edit bk" type="number" step="0.01" name="workMeter" placeholder="Цена за метр работы">
            <button type="submit">Добавить работника</button>
        </form>
    </div>

     <div>
        <form method="post" action="deleteWorker">
            <input class="edit bk" type="number" name="id" placeholder="ID работника">
            <button type="submit">Удалить работника</button>
        </form>
    </div>


<div><h1><b>Список работников</b></h1></div>
    <table>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Цена за метр</th>
        </tr>
        {{#Workers}}
        <tr>
            <td>{{id}}</td>
            <td>{{Name}}</td>
            <td>{{workMeter}}</td>
        </tr>
        {{/Workers}}
    </table>
</div>
</body>

</html>